.inside-left-page{
  background-image: url('../assets/left-page-background.png');
  background-size: cover;

  overflow: hidden;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.35) -0.35rem 0rem 0.35rem;
}

.inside-left-page img{
  width:3rem;
}
