.inside-left-page{
  background-image: url('../assets/left-page-background.jpg');
  background-size: cover;

  overflow: hidden;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.35) -0.35rem 0rem 0.35rem;
}

.inside-left-page img{
  width:4rem;
}

.invite{
  margin:2em 0em 1em 1em;
}

.fingerprint-heart{
  margin:0.5em;
}

/* .banner{
  margin:2rem;
} */
.attribute{
  text-transform: uppercase;
  font-family: 'monospace';
}
.pseudofancy{
    font-family: cursive;
}

.rsvp-button:hover{
  box-shadow: none;
  background-color: rgba(100, 100, 100, 0.3);
}

.ocre{
  color: #B89000;
}

.rsvp-button{
  box-shadow: 1em 0.5em 0.5em gray;
  background-color: transparent; /* Green */
  border: line;
  color: white;
  padding: 0.35em 0.35em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
  font-size: 1em;
  font-weight: 900;
  background-image: linear-gradient(144deg,#C1AD65 100%, #FFFFFF);

  font-family: 'cursive';
}

p.attribute{
  font-size: 0.78rem;
  margin:0.37rem;
}
