.inside-right-page{
  background-image: url('../assets/right-page-background.png');
  background-size: cover;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0.35rem 0rem 0.35rem;
}

.horizontal-content{
  max-height:70.2%;
  max-width:142%;
  /* transform: rotate(-90deg); */
}
