.inside-right-page{
  background-image: url('../assets/right-page-background.jpg');
  background-size: cover;

  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;

  box-shadow: rgba(0, 0, 0, 0.35) 0.75em 0em 0.75em;
}

.rotable {
  -webkit-transition: .5s all;
  -webkit-transition-delay: 2s;
  -moz-transition: .5s all;
  -moz-transition-delay: 2s;
  -ms-transition: .5s all;
  -ms-transition-delay: 2s;
  -o-transition: .5s all;
  -o-transition-delay: 2s;
  transition: .5s all;
  transition-delay: .5s;
}

.horizontal-content{
  height:70.2%;
  width:130%;
  position:absolute;
  transform: rotate(-90deg) translate(-16%, -10%);

  font-size: 0.75em;
}

.horizontal-content .reception-details{
  width:50%;
  margin-top: -1em;
  display:inline-block;
  font-family: monospace;
  text-align: left;
  border-bottom: solid #C1AD65;


  line-height: 1.1em;

}

.field a{
  color:#C1AD65;
  font-weight: bold;
}
.field {
  text-transform: uppercase;
  font-size: 0.8em;
}
.field:before{
  font-size: 0.9em;
  display:block;
  color: #C1AD65;
}

.type:before{
  content:"Tipo ";
}

.passport-id:before{
  content:"Id ";
}
.code:before{
  content:"Código ";
}
.name:before{
  content:"Nombre :";
}
.date:before{
  content:"Fecha :";
}
.time:before{
  content:"Hora :";
}
.location:before{
  content:"Locación :";
}

.wedding-reception .title{
  font-family: monospace;
  letter-spacing: 0.25em;
  color: #C1AD65;
  text-transform: uppercase;
  margin: 0.75em 0em 0.75em 0em;
  border-bottom: solid #C1AD65;
}

.general-data .field {
  margin-right: 2em;
}

.general-data{
  display:flex;
}

@media only screen
  and (orientation: landscape)
  and (max-height:480px) {
  .horizontal-content{
    transform: rotate(0deg);
    height:100%;
    width:100%;
  }
  .horizontal-content .reception-details{
    width:68%;
  }

  /* .inside-left-page{
    display:none !important;
  } */
  /* .inside-right-page{
    width:100vw !important;
    position:relative;
    left:0 !important;
  } */
}


@media only screen
  and (min-height:480px)
  and (orientation:portrait)
  {

  .rotable:hover{
    transform: rotate(90deg) translate( 0%, 50%) scale(1.10);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;

    box-shadow: 0 0 3em grey;
    background-size: cover;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    box-shadow: rgba(0, 0, 0, 0.35) 0.35em 0em 0.35em;
  }
}
.arrivalCode{
  text-transform: uppercase;
  margin-top: 1em;
  display: block;
  width:100%;
  font-family: 'monospace';
  font-size: 0.76em;
}

.arrivalCode p{
  margin: 0;
}
