.WeddingEventLogo .banner h2 {
  font-size: 1.3rem;
  margin: 0;

  font-family: 'ChopinScript';
  font-weight: bolder;
  color:white;
}
.WeddingEventLogo {
  position:relative;
}

.WeddingEventLogo .banner {
  width: 11rem;
  position:relative;

  max-width: 100;
  max-height: 100%;
  background-image: url("../assets/NicePng_gold-ribbon-png_93008.png");
  height: 100%;
  background-repeat:no-repeat;
  background-size:contain;
}
