.WeddingEventLogo{
  display: block;
  margin: 10% auto 10% auto;

  width: 10em;
  height: 10em;
}

.WeddingEventLogo div.banner{
  display: block;
}

.fancy-font{
  font-family: 'ChopinScript';
}

.logo-component{
  position: relative;
  top: 39%;
  line-height: 1.3em;
}
