.WeddingFrame {
    /* min-width: 100%;
    min-height: 100%; */

    background-image: url("../assets/NicePng_gold-frame-border-png_5604780.png");

    background-repeat:no-repeat;
    background-size:87%;
    background-position: center;
}
