.WeddingPassport-cover {
  border-top-right-radius: 3.5vw;
  border-bottom-right-radius: 3.5vw;

  background-color: #0C231E;
  color: #DCD0A6;
  font-family: 'Montserrat', sans-serif;

  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.WeddingPassport-cover > p,h1  {
  margin-top: 1.25em;
  margin-left: 0.75em;
}

.WeddingPassport-cover h1 {
  font-family: 'ChopinScript';
  line-height: 1.15em;
}
