.wedding-passport-back {
  border-top-left-radius: 1.0em;
  border-bottom-left-radius: 1.0em;

  border-top-right-radius: 0.50em;
  border-bottom-right-radius: 0.50em;

  background-color: #0D1A3A;
  color: #DCD0A6;
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  justify-content: center;

  border-left: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0.35em 0.25em 0.35em;
}

.back-logo{
  /* Align */
  justify-content: center;
  margin: 2em auto 2em auto;

  /* Size */
  width: 11em;
  height: 11em;

  /* Background */
  /* background-image: url("../assets/NicePng_gold-circle-png_193969.png"); */
  background-repeat:no-repeat;
  background-size:contain;
}

.back-logo>h2{
  font-family: 'ChopinScript';
  font-size: 1.25em;
}

/* .back-logo > p,h1,h2,h3,h4,h5,h6  {
  margin: 0;
  line-height: 1em;
} */

.credits{
  position:absolute;
  bottom: 3%;
  width:100%;
  font-size: small;
  font-family: cursive;
}
.credits a{
  color:gray;
}

.back-logo > h1  {
  font-size: 2em;
}

.wedding-passport-back a:hover{
  color:gold;
}
.wedding-passport-back a{
    /* font-size: 0.7em; */
    display:inline-block;
    width:50%;
    max-width: 50%;
    color:white;
}
.wedding-passport-back h6{
  font-size: 0.50em;
  margin: 0.8em;
  line-height: 1.5em;
}
