.WeddingEventLogo{
  position:relative;
  width:auto;
  height:auto;
  justify-content: center;
  display: flex;

}

.WeddingEventLogo div.banner{
  position:absolute;
  width:115%;
  bottom: -55%;
}
