.WeddingEventLogo{
  position:relative;
  width:auto;
  height:auto;
  justify-content: center;
  display: flex;
  margin: 2rem 0 2rem 0;
}

.WeddingEventLogo div.banner{
  position:absolute;
  width:115%;
  bottom: -55%;
}
