.WeddingPassport-cover {
  border-top-right-radius: 1.0em;
  border-bottom-right-radius: 1.0em;

  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;

  background-color: #0D1A3A;
  color: #DCD0A6;
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;

  border-left: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) -0.35em 0.25em 0.35em;
}

.centered-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.WeddingPassport-cover  p,h1,h2,h3,h4,h5,h6  {
  display:block;
  margin: 0.2em;
  line-height: 1em;
}
.WeddingPassport-cover  h1.passport  {
  letter-spacing: 0.15em;
}

.WeddingPassport-cover .couple {
  font-family: 'ChopinScript';
  font-size: 1.8em;
}
