@media
  /* (max-aspect-ration:88/125)
  and */
  (max-aspect-ratio:84/125){
  html{
    font-size: 5vmin;
  }
}

@media (max-width:660px){
  html{
    font-size: 5vw;
  }
}

@media (min-aspect-ratio:84/125)
  and (min-width:660px)
{
  html{
    font-size: 2.5vw;
  }
}

@media (min-width:560px) and (max-width:760px) {

}

@media (max-width:560px ) or (max-height:560px ){
  /* .WeddingPassport-cover {
    font-size: 3vmin;
  } */
}

@media (min-width: 800px) {
  /* .WeddingPassport-cover{
    width:69.69vh;
    height:99vh;
  } */


  .WeddingPassport {
    /* font-size: 70%; */
  }
}

@media (min-aspect-ratio: 125/88) {
}


.page{
  text-align: center;
}
