.WeddingPassport {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.WeddingPassport-cover {
  border-top-right-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  background-color: #0C231E;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #DCD0A6;
}
